@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond:regular,500,600,700,800,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:regular,500,600,700,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Macondo:regular);

/* BASIC RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* BASIC COLORS */
  --bg-color-1: #f6f2ea;
  --bg-color-2: #ffe6d6;

  --secondary-clr-1: #c29b87;

  --accents-clr-1: #a97954;

  --btn-clr-1: #1e423f;

  --header-clr-1: #532c2e;

  --border-clr-1: #c29b87;

  /* FONTS STYLES */
  --f-clr-1: #2a2320;

  --ff-1: "Montserrat", sans-serif;
  --ff-2: "Playfair Display", sans-serif;
  --ff-3: "EB Garmond", sans-serif;
  --ff-4: "Libre Baskerville", sans-serif;
  --ff-5: "Macondo", sans-serif;

  --fz-1: 1.2rem;
  --fz-2: 2rem;
  --fz-3: 2.4rem;
  --fz-4: 2.8rem;
  --fz-5: 3.9rem;
}

/* BODY STYLING */
body {
  background: var(--bg-color-1);
  font-family: var(--ff-5);
}

/* HEADER STYLES */
.navbar {
  width: 100%;
  height: 20vh;
  background: var(--bg-color-2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.navbar .nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.navbar .nav-list .list-items {
  margin-top: 35px;
}

.nav-links {
  position: relative;
  font-size: var(--fz-3);
  text-decoration: none;
  color: var(--f-clr-1);
}

.nav-links::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--f-clr-1);

  transform: scaleX(0);
  transform-origin: right;

  transition: transform 250ms ease;
}

.nav-links:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
